<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "menus"}}Daily Menu{{/link-to}}</li>
        {{!-- <li>{{#link-to "chefs"}}Chefs{{/link-to}}</li> --}}
        <li>{{#link-to "myorders"}}Your Orders{{/link-to}}</li>
        {{/if}}
        {{#if isChef}}
        <li>{{#link-to "addmenu"}}Add Menu{{/link-to}}</li>
        <li>{{#link-to "editmenu"}}Edit Menu{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{!-- <h1>Welcome to Ember!</h1> --}}

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>

{{#if isAuthenticated}}
{{else}}
  <div class='about'>
    {{!-- <p>
      LunchBox changes the way you experience home-delivered food! We bring you an
      awesome gourmet food experience , from the kitchens of talented  chefs in your
      area, who are encouraged to put their own creations on the menu as specialty
      items, which usually highlight hyper-local, seasonal fare.
      With food made from 100% non-GMO, organic ingredients, and clean proteins, we
      offer you tons of great options for lunch or dinner!
      Sign up to experience a one of a kind culinary journey.
    </p> --}}
  </div>
{{/if}}
