{{!-- {{yield}} --}}
{{!-- <select onchange={{action 'selectDate' value='target.value'}}>
  <option value="19-Jan-2017">Today 01/19</option>
  <option value="20-Jan-2017">01/20</option>
  <option value="21-Jan-2017">01/21</option>
  <option value="22-Jan-2017">01/22</option>
</select> --}}


<h4>
  <div>
    {{#link-to "menu" menu}}
        <img src={{menu.foodurl}}>
    {{/link-to}}
  </div>
  {{!-- {{#if isEmpty}}
    <button {{action 'deleteList'}}>Delete</button>
  {{/if}}
  <button {{action 'editList'}}>edit</button> --}}
  {{!-- <button {{action 'deleteList'}}>Delete</button> --}}
</h4>
