{{!-- {{yield}} --}}
{{!-- {{menu.votes}} --}}
{{menu.foodname}}
<br>
{{menu.fooddescription}}
<br>
<div>
  <img class='food' src={{menu.foodurl}}>
  {{!-- {{menu.foodurl}} --}}
</div>
<br>
{{menu.votes}}

<form {{action 'createOrder' on='submit'}}>
  {{input placeholder='Address' value=newOrder.destaddress}}
  {{input placeholder='Quantity' value=newOrder.quantity}}
  {{!-- {{input value=menu.id}} --}}
  <button>create order</button>
</form>
