{{!-- {{yield}} --}}
{{!-- {{menu.votes}} --}}
{{!-- <table><tr><td>Name</td><td>Description</td><td>Price</td> --}}
  <img class='food' src={{menu.foodurl}}>
<h4>{{menu.foodname}}</h4>
<br>
{{menu.fooddescription}}
<br>
${{menu.price}}
<br>
<br>
<button class='like' {{action 'voteUp'}}>Like</button>&nbsp;&nbsp;&nbsp;{{menu.votes}}
{{!-- <img class='like' src='/assets/images/like.jpeg' {{action 'voteUp'}}>&nbsp;&nbsp;&nbsp;{{menu.votes}} --}}
<br>
<br>

<form {{action 'createOrder' on='submit'}}>
  {{input class="quan" type="number" min="1" max="10" placeholder='Quantity' value=newOrder.quantity}}
  <br>

  {{input placeholder='Address' value=newOrder.destaddress}}
  <br>
  {{!-- {{input placeholder='Quantity' value=newOrder.quantity}} --}}

  {{!-- <select value=newOrder.quantity>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select> --}}
  <br>
  {{!-- {{input value=menu.id}} --}}
  <button>create order</button>
</form>
