{{!-- <select onchange={{action 'selectDate' value='target.value'}}>
  <option value="{{model.id}}">Today 01/19</option>
  <option value="7">01/20</option>
  <option value="8">01/21</option>
  <option value="5">01/22</option>
</select> --}}
{{!--
<select onchange={{action 'selectDate' value='target.value'}}>

  {{#each model as |menu|}}
    <option value={{model.id}}>
      {{model.date}}
    </option>
  {{/each}}
</select>
--}}
