{{!-- {{yield}} --}}
{{!-- HI --}}

{{!-- {{myorder.foodname}} --}}
{{!-- <br>
{{myorder.quantity}}
<br>
{{myorder.date}}
<br>
<br> --}}

{{myorder.foodname}}
<br>
{{myorder.quantity}}
<br>
{{myorder.date}}
<br>
<button {{action 'cancelOrder' myorder.id}}>cancel order</button>
<br>
<br>
