{{!-- {{outlet}} --}}

{{chef-menu/date selectDate='selectDate'}}

{{!-- <h4>Hey</h4> --}}

{{!-- {{model.votes}} --}}
{{!-- {{outlet}} --}}

{{!-- {{#each model as |menu|}}
  {{chef-menu/card menu=menu}}
{{/each}} --}}

{{outlet}}
